@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
:root {
    --mainFont: "Protest Strike", sans-serif;
    --secondaryFont: "PT Sans Narrow", sans-serif;
    --mainColor: #0F172B;
    --secondaryColor: #ff1a75;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.allProject {
    width: 100%;
    background-color: #0F172B;
    padding: 0 7%;
}

.allProject .header {
    width: 100%;
    background-color: #0F172B;
    background-size: 100% 100%;
    padding: 20px 20px;
}

.allProject .header .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.allProject .header .navbar .logo {
    display: flex;
    align-items: center;
    position: absolute;
    left: 30px;
}

.allProject .header .navbar .logo i {
    font-size: 45px;
}

.allProject .header .navbar .logo h1 {
    font-size: 40px;
    font-family: var(--mainFont);
    margin-left: 15px;
}

.allProject .header .navbar .research{
    display: flex;
    justify-content: space-between;
}
.allProject .header .navbar .research input{
    position: absolute;
    left: 350px;
    top: 30px;
    background: #212c45;
    border-radius: 20px;
    width: 180px;
    height: 30px;
    border: 1px solid #212c45;
    color: azure;
    text-align: center;;
}
.allProject .header .navbar .navList button{
    border: 1px solid #212c45;
    border-radius: 25px;
    background: #212c45;
    display: flex;
    color: #7c7878;
}
.allProject .header .navbar .navList button:hover{
    background-color: var(--secondaryColor);
}
.allProject .header .navbar .navList img{
    border-radius: 25px;

}
.allProject .header .navbar .navList {
    width: 45%;
}

.allProject .header .navbar .navList ul {
    width: 90%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 30%;
}

.allProject .header .navbar .navList ul li a {
    text-decoration: none;
    color: #7c7878;
    font-size: 18px;
    font-family: var(--secondaryFont);
    font-weight: bold;
    transition: 1s;
}
.allProject .header .navbar .navList ul .active a {
    color: var(--secondaryColor);

}

.allProject .header .navbar .navList ul li:hover a{
    color: var(--secondaryColor);
}

.allProject .header .navbar .navList ul li:hover a:after {
    border-top-color: var(--secondaryColor);
}

.banner{
    width: 100%;
    height: 75vh;
    background-color: #34394536;
    padding: 15px;
    display: flex;
    border-radius: 20px;
}
.banner .partone{
    width: 70%;
    height: 95%;
    background-color: var(--mainColor);
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
}
.banner .partone p{
    font-size: 30px;
    margin: 25px;
}
.banner .partone .bank{
    color: var(--secondaryColor);
}
.banner .partone .blek{
    color: azure;
    text-decoration: underline;
}
.banner .partone .clip{
    width: 100%;
}
.banner .partone .dadclip{
    width: 100%;
    height: 90%;
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(3,auto);
}
.banner .partone .dadclip .clip img{
    display: flex;
    width: 55%;
    height: 70%;
    border-radius: 15px;
}
/* .banner .partone .dadclip .clip button{
    display: none;
    background-color: rgba(21, 20, 20, 0.692);
    color: var(--secondaryColor);
    width: 200px;
    padding: 15px;
    text-align: center;
    border: 1px solid rgba(21, 20, 20, 0.692);
    border-radius: 25px;
} */

.banner .partone .dadclip .clip .stert{
    color: azure;
    padding-top: 10px;
    word-spacing: 50px
}
.banner .partone .dadclip .clip .stert h4{
    display: inline;
}
.banner .partone .dadclip .clip .stert p{
    display: inline;
    font-size: 20px;
}
.banner .partone .dadclip .clip .stert i{
    color: gold;
}
.banner .partone .dadclip .clip .download{
    color: azure;
    padding-top: 10px;
    word-spacing: 40px
}
.banner .partone .dadclip .clip .download h6{
    display: inline;
    color: gray;
}
.banner .partone .dadclip .clip .download p{
    display: inline;
    font-size: 20px;
}
.banner .partone .dadclip .clip .download i{
    color: var(--secondaryColor);
}
.banner .daddetails {
    width: 25%;
    height: 95%;
    background-color: var(--mainColor);
    border-radius: 20px;
    margin: 20px;
    padding: 10px;

}

.banner .daddetails p{
    font-size: 30px;
    margin: 20px;
}
.banner .daddetails .bank{
    color: var(--secondaryColor);
}
.banner .daddetails .blek{
    color: azure;
    text-decoration: underline;
}
.banner .daddetails .details{
    display: inline-block;
    text-align: center;
}
.banner .daddetails .details .table{
    width: 100%;
    height: 90%;
}
.banner .daddetails .details .table img{
    width: 50px;
    margin-left: 10px;
    border-radius: 50px;
}
.banner .daddetails .details .table h4{
    color: azure;
}
.banner .daddetails .details .table .stert {
    font-size: 15px;
    color: var(--secondaryColor);
    margin-left: 10px;
}
.banner .daddetails .details .table button{
    padding: 6px 15px;
    background-color: #ff2d75;
    color: white;
    border: 1px solid var(--secondaryColor);
    border-radius: 25px;
    font-size: 17px;
    color: azure;
}
.banner .daddetails .details .table button:hover{
    color: var(--secondaryColor);
    background-color: azure;
    transition: 1.5s;
}


.parents{
    width: 100%;
    height: 120vh;
    background-color: #34394536;
    padding: 15px;
    border-radius: 20px; 
}
.parents  p{
    font-size: 30px;
    margin: 25px;
}
.parents  .bank{
    color: var(--secondaryColor);
}
.parents .blek{
    color: azure;
    text-decoration: underline;
}
.parents .dadstream{
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-columns:repeat(4,auto);
    grid-template-rows: repeat(2,auto);
    margin-left: 20px;
}
.parents .dadstream .stream{
    padding: 10px;
}
.parents .dadstream .stream img{
    border-radius: 20px;
}
.parents .dadstream .stream .avatar{
    display: flex;
}
.parents .dadstream .stream .avatar .avatarimg img{
    margin: 10px;
}
.parents .dadstream .stream .avatar .avatarph{
    padding: 10px;
}
.parents .dadstream .stream .avatar .avatarph h5{
    font-size: 15px;
    color: var(--secondaryColor);
}
.parents .dadstream .stream .avatar .avatarph  i{
    color: var(--secondaryColor);
    font-size: 15px;
    padding: 5px;
}
.parents .dadstream .stream .avatar .avatarph h1{
    color: azure;
    font-size: 20px;
}
.parents .but{
    width: 100%;
    text-align: center;
}
.parents button{
 width: 200px;
 padding: 15px;
 background-color: #ff2d75;
 color: white;
 border: 1px solid var(--secondaryColor);
 border-radius: 25px;
 font-size: 17px;
}
.parents button:hover{
 color: var(--secondaryColor);
 background-color: azure;
 transition: 1.5s;
}

.footer {
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    color: gray;
}
.footer a{
    text-decoration: none;
    color: gray;
}
.footer a:hover{
    color: var(--secondaryColor);
    transition: 1.5s;
}



.allProject .header .navbar label i {
    color: azure;
    font-size: 30px;
}
.allProject .header .navbar label  {
    top: 20px;
    right: 30px;
    border: 4px solid azure;
    position: absolute;
    padding: 5px;
    box-shadow: 3px 3px  5px var(--secondaryColor);
    border-radius: 12px;
    display: none;
}
.allProject .header .navbar input{
    display: none;
}


@media screen and (max-width: 850px){
    .allProject .header .navbar .research{
        display:none ;
    }
    .allProject .header .navbar  {
        flex-direction: column;
        width: 100%;
    }
    .allProject .header .navbar .navList {
        width: 100%;
        margin-top: 52px;
        margin-left: -35%;
    }
    .allProject .header .navbar .navList ul {
        flex-direction: column;
        background-color:#1606164a;
        text-align: start;
        box-shadow: 3px 3px  5px var(--secondaryColor);
        border-radius: 20px;
        padding:20px ;
        transform:rotateX(90deg);
        transition: 1s;
        transform-origin:left;
    }
    .allProject .header .navbar .navList ul li {
        padding:6px ;
    }
    .allProject .header .navbar label{
        display: block;
    }
    .allProject .header .navbar input:checked ~ .navList ul{
        transform:rotateX(0deg);
    }
    .banner .partone .dadclip .clip{
        width: 90%;
    }
    .banner .partone .dadclip .clip .stert {
        word-spacing: 0px;
        margin-right: 10px;
    }
    .banner .partone .dadclip .clip .stert p{
        font-size: 10px;
    }
    .banner .partone .dadclip .clip .download {
        word-spacing: 0px;
    }
    .banner .partone .dadclip .clip .download p{
        font-size: 10px;
    }
}


@media screen and (max-width: 1450px){
    .banner{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .banner .partone{
        width: 95%;
        height: 95%;
    }
    .banner .daddetails{
        width: 95%;
        height: 95%;
        text-align: center;
    }
    .parents{
        height: 100%;
    }
}

@media screen and (max-width: 1200px){
    .parents {
        text-align: center;
    }
    .parents .dadstream{
        width: 100%;
        height: 85%;
        display: grid;
        grid-template-columns:repeat(2,auto);
        grid-template-rows: repeat(4,auto);
    }
}
@media screen and (max-width: 600px){
    .parents .dadstream{
        display: grid;
        grid-template-columns:repeat(1,auto);
        grid-template-rows: repeat(6,auto);
    }
    .banner .partone .dadclip .clip .stert p {
        font-size: 12px;
    }
    .banner .partone .dadclip .clip .download p {
        font-size: 12px;
    }
}
@media screen and (max-width: 400px){
    .banner .partone .dadclip {
        margin: 15px;
    }
}